body {
    padding: 0px;
    margin: 0px;
}

.bg-modalNotes {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,.8);
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.bg-modalProjects {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,.8);
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
}



.noteForm {
    text-align:center;
    width: 330px;
    background: grey;
    margin: 100px auto;
    padding: 20px;
}



#noteTitle {
    width: 100%;
    height: 2rem;

}

.detailWrapper {
    display: flex;
    justify-content: space-around;
}

#noteDueDate {
width: 150px;
}

#notePriority {
    width: 150px;


}

#noteDescrip {
    width: 100%;
    height: 4rem;
}


ul {
    list-style: none;
}


.submitNote {
    padding: 20px;
}

.newNote {
    background: yellow;
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 10px;
}

.newProject {
    background: yellow;
    width: 150px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 10px;
}


.noteForm {
    display: none;
}

.projectForm {
    display: none;
}




.projectTitleInput {
    display: "block";
    padding: 1rem;
}

.contentWrapper {
    display: flex;
}

.projectSideBar{
 background: rgba(202, 103, 46, 0.61);
 width: 30%;
 border-right: 10px solid grey;
 height: 500px;
 padding: 10px;
 margin: 5px;
}

.noteWrapper {
padding: 10px;
 background: rgba(38, 38, 224, 0.61);
 width: 70%;
 margin:5px;
}

.noteContentTitle {
    max-width: 200px;
}